<template>
  <div id="app">
    <block color="#ef5350">
      <text-field
        placeholder="Label"
        :value="label"
        @input="label = $event.target.value"
        :size="18"
        :editable="!locked"
      >{{ label }}</text-field>
    </block>
    <block :height="285" color="#ffca28">
      <div class="listview">
        <row v-for="(item, idx) in items" :key="idx">
          <radio slot="icon-cell" :handleClick="() => handleTakeOff(item)" />
          <text-field
            slot="left-cell"
            placeholder="Item"
            :value="item"
            @input="setItem(idx)($event)"
            :editable="!locked"
          >{{ item }}</text-field>
        </row>
        <row>
          <text-field
            slot="right-cell"
            type="number"
            placeholder="Price"
            :value="price"
            @input="price = $event.target.value"
            :editable="!locked"
          >{{ (price - takeOff.length).toFixed(2) }} €</text-field>
        </row>
      </div>
    </block>
    <block color="#ffa726">
      <hyper-link @click="updatePizza" :size="18">{{ locked ? 'Unlock' : 'Lock' }}</hyper-link>
      <hyper-link @click="resetPizza" :size="18">Back</hyper-link>
      <hyper-link v-if="!locked" @click="removePizza" :size="18">Del</hyper-link>
    </block>
  </div>
</template>

<script>
import { Block, Row, TextField, HyperLink, Radio } from '../layers';
import { capitalize } from '@/utils';

export default {
  components: {
    Block,
    Row,
    TextField,
    HyperLink,
    Radio
  },
  props: {
    pizza: Object,
    upToPizzas: Function,
    delToPizzas: Function,
    resetPizza: Function
  },
  data() {
    return {
      takeOff: [],
      locked: true,
      label: this.pizza.label,
      items: this.pizza.items,
      price: this.pizza.price
    };
  },
  methods: {
    handleTakeOff(item) {
      if (this.takeOff.find(i => i === item)) {
        this.takeOff = this.takeOff.filter(i => i !== item);
      } else {
        this.takeOff = [...this.takeOff, item];
      }
    },
    removePizza() {
      this.delToPizzas(this.pizza.id);
      this.resetPizza();
    },
    updatePizza() {
      if (!this.locked) {
        this.upToPizzas({
          id: this.pizza.id,
          label: capitalize(this.label),
          items: this.items,
          price: parseFloat(this.price)
        });
      }

      this.locked = !this.locked;
    },
    setItem(index) {
      return event => {
        this.items[index] = event.target.value;
      };
    }
  }
};
</script>

<style lang="scss">
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;

  > div {
    margin: 10px auto;
    width: 310px;
  }
}

.listview {
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  overflow-y: scroll;
  padding-bottom: 5px;
  margin: 0 auto;
  z-index: 2;
}
</style>
