<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#ff7043" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.png" />
    <meta name="description" content="All U Need Is Pizza" />
    <title>All U Need Is Pizza</title>
  </head>
  <body>
    <noscript>
      <strong>You need to enable JavaScript to run this app</strong>
    </noscript>
    <div id="root"></div>
  </body>
</html>
