<template>
  <list v-if="!pizza" :pizzas="pizzas" :setPizza="readPizza" />
  <info
    v-else-if="pizza && pizza.id"
    :pizza="pizza"
    :upToPizzas="upToPizzas"
    :delToPizzas="delToPizzas"
    :resetPizza="() => readPizza(null)"
  />
  <add
    v-else-if="pizza && !pizza.id"
    :pizza="pizza"
    :addToPizzas="addToPizzas"
    :resetPizza="() => readPizza(null)"
  />
</template>

<script>
import { readAllPizzas } from '../services/pizza';
import { generateId } from '../utils';
import { List, Info, Add } from './views';

export default {
  components: {
    List,
    Info,
    Add
  },
  data() {
    return {
      pizzas: [],
      pizza: null
    };
  },
  mounted() {
    if (this.pizzas.length === 0) {
      readAllPizzas().then(result => {
        this.pizzas = result;
      });
    }
  },
  methods: {
    readPizza(pizza) {
      this.pizza = pizza;
    },
    addToPizzas(newPizza) {
      this.pizzas = [...this.pizzas, { id: generateId(), ...newPizza }];
    },
    upToPizzas(currentPizza) {
      this.pizzas = this.pizzas.map(p => (p.id === currentPizza.id ? currentPizza : p));
    },
    delToPizzas(id) {
      this.pizzas = this.pizzas.filter(p => p.id !== id);
    }
  }
};
</script>
