<template>
  <div class="block" :style="{ height: `${height}px` }">
    <div class="frame" />
    <div class="content" :style="{ background: color }">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    height: {
      type: Number,
      default: 60
    },
    color: {
      type: String,
      default: '#ff7043'
    }
  }
};
</script>

<style lang="scss">
$dark: #212121;
$deep-orange: #ff7043;

.block {
  display: flex;
  justify-content: space-between;
  min-height: 60px;

  .frame {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border: 3px solid $dark;
    z-index: 1;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background: $deep-orange;
    margin-left: -100%;

    > a,
    > input,
    > p {
      margin: auto;
      z-index: 2;
    }
  }
}
</style>
